name: Docker
on:
  push:
    branches: [main]

jobs:
  docker:
    name: Docker for Alpine ${{matrix.alpine_version}} ${{matrix.arch}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: ["aarch64", "armhf", "armv7"]
        alpine_version: ["3.18", "3.19", "3.20"]
        latest_alpine_version: ["3.20"]
    steps:
      - uses: actions/checkout@v4
      
      - name: Build and Push Docker Image
        run: |
          image="ghcr.io/msrd0/abuild-${{matrix.arch}}"
          tag="$image:${{matrix.alpine_version}}"
          docker build . \
            --pull \
            --tag "$tag" \
            --build-arg ALPINE_VERSION=${{matrix.alpine_version}} \
            --build-arg CTARGET=${{matrix.arch}} \
            --build-arg JOBS=2 \
            --memory $(( 6500 * 1024 * 1024 ))
          
          docker login -u msrd0 -p "${{secrets.GITHUB_TOKEN}}" ghcr.io
          docker push "$tag"

          if [ "${{matrix.alpine_version}}" == "${{matrix.latest_alpine_version}}" ]; then
            docker tag "$tag" "$image:latest"
            docker push "$image:latest"
          fi
